Repository fernando-duarte/china-data, changes with the labels that .github/labeler.yml gives for each.
All labels: data-sources, economics, output, utilities, testing, documentation, configuration, ci-cd, dependencies, performance, security, bug, enhancement

.github/labeler.yml:

# Configuration for GitHub Labeler
# Automatically adds labels to PRs based on changed files

# Core functionality labels
core:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "china_data_processor.py"
              - "china_data_downloader.py"
              - "config.py"

# Data sources and utilities
"data-sources":
  - "utils/data_sources/**/*"

# Economic indicators and calculations
"economics":
  - "utils/economic_indicators/**/*"
  - "utils/extrapolation_methods/**/*"

# Output and formatting
"output":
  - "utils/output/**/*"
  - "utils/processor_dataframe/**/*"

# Error handling and utilities
"utilities":
  - "utils/error_handling/**/*"
  - "utils/capital/**/*"

# Testing
"testing":
  - "tests/**/*"
  - "**/test_*.py"
  - "**/*_test.py"

# Documentation
"documentation":
  - "*.md"
  - "docs/**/*"
  - "README*"

# Configuration and setup
"configuration":
  - "pyproject.toml"
  - "uv.lock"
  - "setup.py"
  - "Makefile"
  - ".flake8"
  - ".gitignore"
  - "renovate.json5"

# CI/CD and workflows
"ci-cd":
  - ".github/**/*"
  - ".github/workflows/**/*"

# Dependencies
"dependencies":
  - "pyproject.toml"
  - "uv.lock"
  - "renovate.json5"

# Performance related
"performance":
  - "**/*performance*"
  - "**/*benchmark*"

# Security related
"security":
  - "**/*security*"
  - "**/*auth*"

# Bug fixes (based on branch name patterns)
"bug":
  - any: ['**/fix/**/*', '**/bugfix/**/*', '**/hotfix/**/*']

# Features (based on branch name patterns)
"enhancement":
  - any: ['**/feature/**/*', '**/feat/**/*', '**/enhancement/**/*']

# Branch-based labels
feature:
  - any:
      - head-branch: ["feature/*", "feat/*"]

hotfix:
  - any:
      - head-branch: ["hotfix/*", "fix/*"]

style: apply formatting and linting fixes from pre-commit hooks
  .github/workflows/ci-unified.yml
  .github/workflows/dependency-health.yml
  .github/workflows/monitoring.yml
  config.py
  docs/ai-context.md
  model/test_model_equations.py
  model/utils/consumption.py
  model/utils/exports.py
  model/utils/imports.py
  model/utils/investment_from_saving.py
  model/utils/tfp_growth.py
  scripts/compliance_report.py
  scripts/dev-setup.sh
  utils/observability.py
Labels: testing, documentation, ci-cd

feat: implement 2025 codebase assessment recommendations
  .context/project.yaml
  .github/workflows/ci-unified.yml
  .github/workflows/sbom.yml
  .gitignore
  VERSION.txt
  docker-compose.yml
  implementation_plan_2025.md
  output/china_data_processed.md
  pyproject.toml
  renovate.json5
  test.md
  test_output.md
Labels: documentation, configuration, ci-cd, dependencies

chore: commit all changes
  .context/project.yaml
  .pre-commit-config.yaml
  TOOL_VERSION_SYNC_SUMMARY.md
  comprehensive_codebase_assessment_2025.md
  docs/ai-context.md
  docs/development/tool-version-alignment.md
  docs/tool-version-synchronization.md
  implementation_plan_2025.md
  model/README.md
  model/test_model_equations.py
  model/utils/consumption.py
  model/utils/exports.py
  model/utils/imports.py
  model/utils/investment_from_saving.py
  model/utils/tfp_growth.py
  output/china_data_processed.md
  pyproject.toml
  scripts/compliance_report.py
  scripts/sync_tool_versions.py
  test.md
  test_output.md
  utils/caching_utils.py
  utils/observability.py
  uv.lock
Labels: testing, documentation, configuration, dependencies

fix: add --output screen argument to safety-check pre-commit hook
  .pre-commit-config.yaml
Labels: none

chore: update security tool artifacts - remove bandit.json and add safety project config
  .safety-project.ini
Labels: none

Automated commit
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  .semgrep.yml
  .semgrepignore
  Makefile
  bandit.json
  pre-commit-security-enhancement-checklist.md
  scripts/generate_sarif_reports.py
  semgrep-python.json
  semgrep-security.json
  semgrep-test.json
  test_semgrep_security.py
Labels: testing, documentation, configuration, security

Refactor: Clean up project structure and enhance security configurations - Updated security tools, GitHub Actions workflows, removed obsolete files, added security docs, updated dependencies
  .bandit.yaml
  .context/project.yaml
  .github/workflows/ci-unified.yml
  .github/workflows/dependency-check.yml
  .github/workflows/monitoring.yml
  .github/workflows/security-enhanced.yml
  .pre-commit-config.yaml
  .semgrep.yml
  .semgrepignore
  .vscode/mcp.json
  CODEBASE_REVIEW_CHECKLIST.md
  TOOL_VERSION_SYNC_SUMMARY.md
  bandit.json
  comprehensive_codebase_assessment_2025.md
  docs/security/bandit-exclude-patterns.md
  docs/security/semgrep-configuration.md
  docs/security/semgrep-free-account-benefits.md
  github_actions_log_viewer.py
  implementation_plan_2025.md
  pre-commit-security-enhancement-checklist.md
  pyproject.toml
  scripts/generate_sarif_reports.py
  semgrep-python.json
  semgrep-security.json
  semgrep-test.json
  setup_github_actions_viewer.sh
  test.md
  test_output.md
  test_semgrep_security.py
  uv.lock
  workflow_outputs/.gitkeep
  workflow_outputs/bandit-report.json
  workflow_outputs/dependency-tree.txt
  workflow_outputs/flake8-report.txt
  workflow_outputs/outdated-packages.json
  workflow_outputs/workflow-summary.json
Labels: testing, documentation, configuration, ci-cd, dependencies, security

Remove outdated documentation and example files - clean up for 2025 refactor
  docs/adrs/003-documentation-strategy.md
  docs/adrs/index.md
  docs/ai-context.md
  docs/api/core.md
  docs/api/data-sources.md
  docs/development/github-actions-guide.md
  docs/development/github-cli-reference.md
  docs/development/pre-commit-practices.md
  docs/development/tool-version-alignment.md
  docs/getting-started/installation.md
  docs/index.md
  docs/javascripts/mathjax.js
  docs/security/bandit-exclude-patterns.md
  docs/security/semgrep-configuration.md
  docs/security/semgrep-free-account-benefits.md
  docs/stylesheets/extra.css
  docs/tool-version-synchronization.md
  docs/user-guide/structured-logging.md
  examples/sample_output.md
  examples/structured_logging_demo.py
Labels: documentation

Update data files after running setup script - refresh China economic data for 2025
  output/china_data_processed.csv
  output/china_data_processed.md
  output/china_data_raw.md
Labels: none

Update ignore files to track PDF files in output directory - allow PDFs while ignoring other output files
  .augment-ignore
  .cursorallow
  .cursorignore
  .cursorindexingignore
  .gitignore
  output/china_data_processed.pdf
Labels: configuration

fix: optimize pre-commit hooks performance and fix file formatting
  .bandit.yaml
  .pre-commit-config.yaml
  scripts/generate_sarif_reports.py
Labels: none

docs: add comprehensive pre-commit optimization plan
  PRE_COMMIT_OPTIMIZATION_PLAN.md
Labels: documentation

chore: backup current pre-commit configuration
  .pre-commit-config.yaml.backup
Labels: none

feat: optimize pre-commit configuration for 55% performance improvement
  .gitignore
  .pre-commit-config.yaml
  PRE_COMMIT_GUIDE.md
  PRE_COMMIT_PERFORMANCE_SUMMARY.md
  bandit.json
  docs/adrs/001-python-version-strategy.md
  docs/adrs/index.md
  docs/api/core.md
  docs/development/contributing.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/javascripts/mathjax.js
  docs/stylesheets/extra.css
  docs/user-guide/data-sources.md
  docs/user-guide/output-formats.md
  docs/user-guide/processing-pipeline.md
  mkdocs_backup.yml
  output/china_data_processed.csv
  output/china_data_processed.md
  output/china_data_raw.md
  semgrep-python.json
  semgrep-security.json
  test.md
  test_output.md
Labels: documentation, configuration, security

chore: backup current pre-commit configuration
  .pre-commit-config.yaml.backup
Labels: none

feat: optimize pre-commit configuration for better performance
  .gitignore
  .pre-commit-config.yaml
  CACHE_MANAGEMENT.md
  PRE_COMMIT_GUIDE.md
  PRE_COMMIT_PERFORMANCE_SUMMARY.md
Labels: documentation, configuration

chore: Remove test artifacts and prevent future occurrences
  .gitignore
  test.md
  test_output.md
  tests/conftest.py
Labels: testing, documentation, configuration

refactor: reorganize log files into dedicated logs/ directory
  .gitignore
  config.py
  logs/README.md
  utils/error_handling/__init__.py
  utils/logging_core.py
Labels: utilities, configuration

Fix all linting issues - MyPy and Ruff errors resolved
  MAKEFILE_TESTING_ISSUES.md
  Makefile
  config.py
  config_schema.py
  model/test_model_equations.py
  model/utils/consumption.py
  model/utils/exports.py
  model/utils/imports.py
  model/utils/investment_from_saving.py
  model/utils/tfp_growth.py
  output/china_data_processed.csv
  output/china_data_processed.md
  pyproject.toml
  ruff.toml
  scripts/generate_sarif_reports.py
  scripts/sync_tool_versions.py
  tests/test_wdi_downloader.py
  utils/caching_utils.py
  utils/logging_tracing.py
  utils/processor_extrapolation_utils.py
  uv.lock
Labels: testing, documentation, configuration, dependencies

fix: Resolve ruamel.yaml namespace package import issue with safety
  .safety-project.ini
  Makefile
  scripts/fix_ruamel_namespace.py
Labels: configuration

🎉 All tests now passing! 100% test pass rate achieved - Fixed all 29 test failures, 266 tests passing, 0 failing, 3 skipped as expected
  .pre-commit-config.yaml
  MAKEFILE_TESTING_ISSUES.md
Labels: documentation

✅ Fix all linting issues - Ruff and MyPy now pass with 0 errors
  .mutmut_config
  .safety-project.ini
  MAKEFILE_TESTING_ISSUES.md
  Makefile
  china_data_downloader.py
  docs/adrs/index.md
  docs/development/contributing.md
  docs/index.md
  docs/user-guide/output-formats.md
  docs/user-guide/processing-pipeline.md
  model/test_model_equations.py
  output/china_data_processed.csv
  output/china_data_processed.md
  output/china_data_raw.md
  pyproject.toml
  scripts/fix_ruamel_namespace.py
  tests/factories.py
  tests/test_downloader.py
  tests/test_factories_demo.py
  tests/test_factoryboy_integration.py
  tests/test_imf_loader.py
  tests/test_integration_processor_output.py
  tests/test_processor_output_markdown.py
  tests/test_property_based.py
  tests/test_property_enhanced.py
  tests/test_structured_logging.py
  tests/test_wdi_downloader.py
  tests/test_wdi_downloader_additional.py
  utils/caching_utils.py
  utils/economic_indicators/tfp_calculator.py
  utils/logging_core.py
  utils/logging_helpers.py
Labels: economics, testing, documentation, configuration, dependencies

fix: resolve test failures and type annotation issues
  tests/extra/test_dataframe_extra.py
  tests/test_processor_output_markdown.py
  utils/output/markdown_template.py
Labels: output, testing

Update extrapolation methods and remove deprecated documentation files
  MAKEFILE_TESTING_ISSUES.md
  PRE_COMMIT_GUIDE.md
  PRE_COMMIT_OPTIMIZATION_PLAN.md
  PRE_COMMIT_PERFORMANCE_SUMMARY.md
  SECURITY_EXCEPTIONS.md
  output/china_data_processed.md
  tests/processor/test_output.py
  tests/test_structured_logging.py
  utils/extrapolation_methods/arima.py
  utils/extrapolation_methods/extrapolation_helpers.py
  utils/extrapolation_methods/linear_regression.py
  utils/logging_operations.py
  utils/output/markdown_generator.py
  utils/processor_dataframe/metadata_operations.py
  utils/processor_dataframe/output_operations.py
  utils/processor_extrapolation.py
  utils/processor_extrapolation_apply.py
  utils/processor_extrapolation_constants.py
  utils/processor_extrapolation_prepare.py
  utils/validation_core.py
  utils/validation_utils.py
Labels: economics, output, testing, documentation
